body{
    background: gray;
    margin: 0;
}
.container{
    width: 600px;
    margin: auto;
    background: white ;
    }
h1{
    background: white;
    margin: 0;
    padding-left: 465px;
    margin-bottom: 40px;
}
img{
    width: 100%;
}
h2{
    display: inline-block;
    width: 80%;
    margin: 0;
}
.text :last-child{
    display: inline;
    padding-left: 20px;
    color: grey;
}
.textdown{
    padding-bottom: 8px;
    padding-left: 15px;
}
.SecondPhoto{
    margin: 40px;
}
.ThirdPhoto{
    margin: 40px;
}
.FourthPhoto{
    margin: 40px;
}